* {
  box-sizing: border-box;
  font-family: monospace;
  outline: none;

}
/* LOGIN SECTION */
.login-cover {
  background-image: url("image1.jpg");
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 800;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loginProgress {
  display: none;
}

#loginError {
  display: none;
}

#icons {
  
}
